In [2]:
# 20BCT0163 Rajarshi Saha
import pandas as pd
import numpy as np

In [5]:
# AI Assignment 1
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
df = pd.DataFrame(np.random.randint(10,size=(4,4)))
df

   0  1  2  3
0  6  8  3  2
1  5  9  4  4
2  4  3  4  1
3  4  4  9  9

In [7]:
# Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               6               8               3               2
1               5               9               4               4
2               4               3               4               1
3               4               4               9               9

In [8]:
# Task - 3 Find the descriptive statistics of the 'df' dataframe.
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000         4.00000        4.000000        4.000000
mean         4.750000         6.00000        5.000000        4.000000
std          0.957427         2.94392        2.708013        3.559026
min          4.000000         3.00000        3.000000        1.000000
25%          4.000000         3.75000        3.750000        1.750000
50%          4.500000         6.00000        4.000000        3.000000
75%          5.250000         8.25000        5.250000        5.250000
max          6.000000         9.00000        9.000000        9.000000

In [9]:
# Task - 4 Check for the null values in 'df' and find the data type of the columns.
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [16]:
# Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
print(df.loc[:,['Random value 2','Random value 3']])
print(df.iloc[:,1:3])

   Random value 2  Random value 3
0               8               3
1               9               4
2               3               4
3               4               9
   Random value 2  Random value 3
0               8               3
1               9               4
2               3               4
3               4               9